{% extends 'layout.html' %}
{% block style %}

{% endblock %}
{% block content %}<h1 class="text-center mb-5">{{title}}</h1>
    <div class="row flex-column view">    
        <div class="title py-3 pl-2">
                제목을 이곳에 씁니다.
        </div>
    </div>
    <div class="row py-3 view_info">
        <div class="col-8 d-flex">
            <div class="date pr-5">2023.09.22</div>
            <div class="write pr-5">홍길동</div>
            <div class="hit">hit : 25</div> 
        </div>
        <div class="col-4 text-right sns">                
            <a href="#" class="mr-3"><i class="ri-facebook-circle-line"></i></a>
            <a href="#" class="mr-3"><i class="ri-kakao-talk-line"></i></a>
            <a href="#" class="mr-3"><i class="ri-youtube-line"></i></a>
            <a href="#" class="mr-3"><i class="ri-instagram-line"></i></a>                
        </div>            
    </div>
    <div class="content py-5">
        <p>보내는 풍부하게 청춘이 풍부하게 위하여 청춘을 목숨을 투명하되 끓는다. 피어나기 가지에 시들어 사막이다. 바로 얼마나 우는 보라. 얼음이 방황하였으며, 이것을 행복스럽고 이것이다. 눈에 청춘 청춘은 위하여서, 봄날의 우리의 끝까지 얼마나 칼이다. 천지는 가는 낙원을 주는 이상의 갑 없으면, 앞이 그들은 것이다. 앞이 주며, 착목한는 얼마나 귀는 목숨을 이것이다. 품으며, 이상, 불어 귀는 풀이 말이다. 인생을 가진 그들의 이상 피부가 인류의 이것이다. 광야에서 착목한는 인류의 있는 청춘의 같이, 방황하여도, 힘차게 천하를 있으랴?</p>
        <p>무엇을 살았으며, 실로 꾸며 피어나기 소리다.이것은 사막이다. 사라지지 천하를 피고, 바이며, 것이다. 가슴이 끓는 설산에서 것이다.보라, 이상을 끝까지 봄바람이다. 하는 이상의 아름답고 이것이다. 목숨이 장식하는 생명을 것이다. 꾸며 얼마나 곧 청춘 낙원을 가는 이것이다. 발휘하기 가는 얼음과 만천하의 미인을 그들은 아니다. 싸인 열락의 내는 그와 그들을 동력은 이 교향악이다. 일월과 능히 뛰노는 가장 우리의 되는 앞이 끓는 천지는 있다. 되려니와, 끓는 있는 얼마나 얼마나 실현에 이는 뼈 청춘의 운다.</p>
        <p>사는가 우리의 우리의 운다. 구할 위하여, 아니더면, 싸인 사막이다. 뼈 이 우는 옷을 가지에 황금시대를 풀이 평화스러운 아니다. 눈에 무엇이 그들을 사람은 얼음과 이 가치를 투명하되 긴지라 아름다우냐? 충분히 아니더면, 피어나는 아름다우냐? 공자는 얼음 그들의 가슴이 것은 쓸쓸한 것이다. 위하여, 얼음과 인생에 어디 이것이다. 돋고, 따뜻한 보배를 이 찾아다녀도, 못하다 끝까지 수 사막이다. 가는 그들은 부패를 보배를 것이다. 커다란 청춘의 얼마나 없는 일월과 같지 것이다. 주는 눈에 이상 튼튼하며, 청춘은 몸이 없는 우리 있다.</p>        
    </div>
    <div class="row justify-content-end mb-5">
        <a href="#" class="btn btn-dark text-white px-3 mr-3">댓글</a>
        <a href="#" class="btn btn-dark text-white px-3 mr-3">수정</a>
        <button type="buttn" class="btn btn-dark text-white px-3 mr-3" data-target="#delModal" data-toggle="modal">삭제</button>
        <a href="#" class="btn btn-dark text-white px-3">목록</a>
    </div>

    <!-- bootstrap modal -->
    <div class="modal fade" role="dialog" id="delModal" tabindex="-1" aria-labelledby="delModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger">삭제</h5>
                    <button type="button" class="close" data-dismiss="modal" arial-label="close">
                        <i class="ri-close-fill"></i>
                    </button>
                </div> <!-- modal-header -->
                <form>
                <div class="modal-body">
                    <p>삭제하려면 비밀번호를 입력하세요.</p>                        
                    <input type="password" class="form-control" placeholder="비밀번호" />                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary">삭제하기</button>
                </div>
                </form>
            </div> <!-- modal-content -->
        </div> <!-- modal-dialog -->
    </div>




{% endblock %}

{% block script %}
{% endblock %}

