{% extends 'layout.html' %}
{% block style %}
<link rel="stylesheet" href="/css/summernote-bs4.min.css">
{% endblock %}

{% block content %}
<h1 class="text-center mb-5">{{title}}</h1>
    <div class="row flex-column view">    
        <div class="title py-3 pl-2">
                {{row[0].title}}
        </div>
    </div>
    <div class="row py-3 view_info">
        <div class="col-8 d-flex">
            <div class="date pr-5">2023.09.22</div>
            <div class="write pr-5">{{row[0].writer}}</div>
            <div class="hit">hit:{{row[0].hit}}</div> 
        </div>
        <div class="col-4 text-right sns">                
            <a href="#" class="mr-3"><i class="ri-facebook-circle-line"></i></a>
            <a href="#" class="mr-3"><i class="ri-kakao-talk-line"></i></a>
            <a href="#" class="mr-3"><i class="ri-youtube-line"></i></a>
            <a href="#" class="mr-3"><i class="ri-instagram-line"></i></a>                
        </div>            
    </div>
    <div class="content py-5">        
        {{row[0].contents | safe}}
    </div>
    <div class="row justify-content-end mb-5">
        <a href="/rewrite/{{row[0].num}}" class="btn btn-dark text-white px-3 mr-3">댓글</a>
        <a href="/edit/{{row[0].num}}" class="btn btn-dark text-white px-3 mr-3">수정</a>
        <button type="buttn" class="btn btn-dark text-white px-3 mr-3" data-target="#delModal" data-toggle="modal">삭제</button>
        <a href="/" class="btn btn-dark text-white px-3">목록</a>
    </div>

    <!-- bootstrap modal -->
    <div class="modal fade" role="dialog" id="delModal" tabindex="-1" aria-labelledby="delModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-danger">삭제</h5>
                    <button type="button" class="close" id="delete" data-dismiss="modal" arial-label="close">
                        <i class="ri-close-fill"></i>
                    </button>
                </div> <!-- modal-header -->
                <form>
                <div class="modal-body">
                    <p>삭제하려면 비밀번호를 입력하세요.</p>                        
                    <input type="password" class="form-control" id="password_del" placeholder="비밀번호" /> 
                    <input type="hidden" id="delnum" value="{{row[0].num}}"/>              
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-danger" id="del">삭제하기</button>
                </div>
                </form>
            </div> <!-- modal-content -->
        </div> <!-- modal-dialog -->
    </div>

    <hr/>
    <div class="row mt-5">
        <ul class="list-group">
            {% for res in rs %}
                <li class="list-group-item d-flex p-4">
                    <div class="col-2">
                        <h3>{{res.username}} <small>(2023-10-20)</small></h3>
                    </div>
                    <div class="col-9">
                        <p>{{res.comment}}</p>
                    </div>
                    <div class="col-1 text-right"></div>
                    <!-- <button type="buttn" class="btn btn-dark text-white" data-target="#listModal" data-toggle="modal">목록</button>            -->
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- <div class="row mt-5">
        <ul class="list-group">
            {% for res in rs %}
                <div class="list d-flex">
                    <li class="list-group-item d-flex p-4">
                        <div class="col-2">
                            <h3>{{res.username}} <small>(2023-10-19)</small></h3>
                        </div>
                        <div class="col-7">
                            <p>{{res.comment}}</p>
                        </div>
                        <div class="col-1 text-right"></div>                                          
                    </li>
                    <div class="col-2">
                        <button type="buttn" class="btn btn-dark text-white px-3 mr-3" data-target="#listModal" data-toggle="modal">목록</button>
                    </div>
            </div>            
            {% endfor %}
        </ul>
    </div> -->
    <!-- bootstrap modal -->
    <!-- <div class="modal fade" role="dialog" id="listModal" tabindex="-1" aria-labelledby="listModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-primary">댓글 수정</h5>
                    <button type="button" class="close" id="update" data-dismiss="modal" arial-label="close">
                        <i class="ri-close-fill"></i>
                    </button>
                </div> 
                <form>
                <div class="modal-body">
                    <p>이름</p>                        
                    <input type="text" name="name"/>
                    <p>내용</p>                        
                    <input type="text" name="content"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">수정</button>
                    <button type="button" class="btn btn-danger" id="del">삭제</button>
                </div>
                </form>
            </div>
        </div>
    </div> -->

    <form name="comment_form" method="post" id="comment_form">
        <input type="hidden" name="ndboard_num" value="{{row[0].num}}" />
            <div class="row mt-5">
                <div class="col-3">
                    <label>이름</label>
                    <input type="text" name="username" class="form-control" />
                </div>
                <div class="col-3">
                    <label>비밀번호</label>
                    <input type="password" name="userpass" class="form-control" />
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-10">
                    <textarea id="memo-content" name="content" class="form-control"></textarea>
                </div>
                <div class="col-2">
                    <button type="button" class="btn btn-comment">전송</button>
                </div>
            </div>

    </form>

{% endblock %}

{% block script %}

<script src="/js/summernote-bs4.min.js"></script>
<script src="/js/lang/summernote-ko-KR.min.js"></script>
<script>
    $(function(){
        $("#memo-content").summernote({
            tabsize:2,
            height:150,
            lang:"ko-KR",
            toolbar:[
                ['style',['style']],
                ['font',['bold','under-line','clear']],
                ['color',['color']]
            ]
        });
        $(".btn-comment").click(function(){
            const data = $("#comment_form").serialize(); // form에 담긴 내용이 js type으로 변경
            // console.log(data)
            $.ajax({
                url:'/comment_write',
                type:'post',
                dataType:'json',
                data:data,
                success:function(rs){
                    const res = parseInt(rs);
                    if(res > 0){
                        alert("성공적으로 등록되었습니다.");
                        location.reload();
                    }else{
                        alert("문제가 발생했습니다.");
                    }
                },
                error:function(err){
                    console.log(err);
                }
            })
        })
    });
</script>

{% endblock %}

